<%- include('./partials/header.ejs', {
  title: 'JavaFinder'
}); %>
  <header id="splashHeader">
    <h1>JavaFinder</h1>
    <h4>A new way to find the perfect cup of coffee</h4>
  </header>

  <div id="splashMessage">  
    <%= message %>
  </div>
  <main id="splashMain">
    <div id="login">
      <h4>Login</h4>
      <form action="/users/login" method="POST">
        <input type="text" name="username" placeholder="Username"><br>
        <input type="email" name="email" placeholder="Email"><br>
        <input type="password" name="password" placeholder="Password"><br>
        <button type="submit">Login</button><br>
      </form>
    </div>

    <div id="registration">
      <h4>Sign Up</h4>
      <form action="/users" method="POST" enctype="multipart/form-data">
        <input type="text" name="username" placeholder="Account Username"><br>
        <input type="text" name="name" placeholder="Name"><br>
        <input type="text" name="city" placeholder="City"><br>
        <input type="email" name="email" placeholder="Email"><br>
        <input type="password" name="password" placeholder="Password"><br>
        <label id="userImg">Upload Profile Pic</label>
        <input type="file" name="imageFile" class="imageFile" />
        <button type="submit">Register</button><br>
      </form>
    </div>

  <footer id="splashFooter">
    <div class="mediaLinks">
      <ul>
        <li><a href="https://github.com/msiller455"><img src="https://upload.wikimedia.org/wikipedia/commons/9/91/Octicons-mark-github.svg"></a></li>
        <li><a href="https://www.linkedin.com/in/michaelasiller/"><img src="https://cdn3.iconfinder.com/data/icons/free-social-icons/67/linkedin_circle_black-512.png"></a></li>
        <li><a href="https://www.instagram.com/chum455/"><img src="http://cdn.onlinewebfonts.com/svg/img_465937.png"></a></li>
      </ul>
    </div>
  </footer>

  </main>
<%- include('./partials/footer.ejs') %>