* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

#splashHeader {
  position: relative;
  background-color: #FCE14C;
  height: 1000px;
  text-align: center;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 calc(100% - 9vw));
}

#splashHeader h1 {
  font-family: 'Staatliches', cursive;
  font-size: 60px;
  position: absolute;
  right: 10%;
  top: 30%;
  letter-spacing: 12px;
}

#splashMain {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #FCE14C;
  position: relative;
  height: 170px;
  width: 169px;
  margin-bottom: 20px;
  padding: 40px 20px;
  clip-path: polygon(0 0, 100% 2vh, 100% 100%, 0 calc(100% - 2vh));
}

#login h4 {
  font-size: 20px;
  text-align: center;
  font-family: 'Staatliches', cursive;
  letter-spacing: 4px;
  margin-bottom: 5px;
}

#login input {
  font-family: 'Oswald', sans-serif;
  text-align: center;
  border: none;
  margin: 3px 0;
}

#login button {
  
}

#registration {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #FCE14C;
  position: relative;
  height: 170px;
  width: 169px;
  margin-top: 20px;
  padding: 40px 20px;
  clip-path: polygon(0 0, 100% 2vh, 100% 100%, 0 calc(100% - 2vh));
}

#registration h4 {
  font-size: 20px;
  text-align: center;
  font-family: 'Staatliches', cursive;
  letter-spacing: 4px;
  margin-bottom: 5px;
}

#registration input {
  font-family: 'Oswald', sans-serif;
  text-align: center;
  border: none;
  margin: 3px 0;
}

a {
  color: #00B7FF;
}

#splashFooter {
  position: relative;
  background-color: #FCE14C;
  height: 240px;
  width: 100%;
  text-align: center;
  clip-path: polygon(0 0, 100% 9vw, 100% 100%, 0 100%);
}

#mediaLinks ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  position: absolute;
  left: 10%;
  bottom: 30%;
}

#mediaLinks ul li {
  padding: 0 10px;
}

#mediaLinks img {
  height: 30px;
  width: 30px;
}