* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  height: 100vh;
}

/* SPLASH PAGE CSS */

#splashHeader {
  position: relative;
  background-color: #FCE14C;
  height: 1000px;
  text-align: center;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 calc(100% - 9vw));
}

#splashHeader h1 {
  font-family: 'Staatliches', cursive;
  font-size: 60px;
  position: absolute;
  right: 10%;
  top: 30%;
  letter-spacing: 12px;
}

#splashHeader h4 {
  font-family: 'Oswald', sans-serif;
  font-size: 20px;
  position: absolute;
  bottom: 10%;
  right: 10%;
  letter-spacing: 2px;
}

#splashMessage {
  text-align: center;
  margin: 25px;
}

#splashMain {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #FCE14C;
  position: relative;
  height: 170px;
  width: 169px;
  margin: 20px, 0;
  padding: 40px 20px;
  clip-path: polygon(0 0, 100% 2vh, 100% 100%, 0 calc(100% - 2vh));
}

#login h4 {
  font-size: 20px;
  text-align: center;
  font-family: 'Staatliches', cursive;
  letter-spacing: 4px;
  margin-bottom: 5px;
}

#login input {
  font-family: 'Oswald', sans-serif;
  text-align: center;
  border: none;
  margin: 3px 0;
}

#login input:focus {
  border: solid black 2px;
  background: rgba(219, 193, 65, 0.3);
}

#login button {
  margin-top: 5px;
  font-family: 'Oswald', sans-serif;
  border-radius: 4px;
  width: 100%;
  background: #B89E1F;
}

#registration {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #FCE14C;
  position: relative;
  height: 170px;
  width: 169px;
  margin-top: 20px;
  padding: 40px 20px;
  clip-path: polygon(0 0, 100% 2vh, 100% 100%, 0 calc(100% - 2vh));
}

#registration h4 {
  font-size: 20px;
  text-align: center;
  font-family: 'Staatliches', cursive;
  letter-spacing: 4px;
  margin-bottom: 5px;
}

#registration input {
  font-family: 'Oswald', sans-serif;
  text-align: center;
  border: none;
  margin: 3px 0;
}

#registration input:focus {
  border: solid black 2px;
  background: rgba(219, 193, 65, 0.3);
}

#registration button {
  margin-top: 5px;
  font-family: 'Oswald', sans-serif;
  border-radius: 4px;
  width: 100%;
  background: #B89E1F;
}

#splashFooter {
  position: relative;
  background-color: #FCE14C;
  height: 142px;
  width: 100%;
  text-align: center;
  clip-path: polygon(0 0, 100% 9vw, 100% 100%, 0 100%);
}

.mediaLinks ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  position: absolute;
  left: 10%;
  bottom: 30%;
}

.mediaLinks ul li {
  padding: 0 10px;
}

.mediaLinks img {
  height: 30px;
  width: 30px;
}

/* SITE PAGES CSS */

.siteHeader {
  position: relative;
  text-align: center;
  height: 142px;
}

.siteHeaderBckgr {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 0;
  background-color: #FCE14C;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 calc(100% - 9vw));
}

.siteHeaderFrgr {
  height: 100%;
  width: 100%;
  background: transparent;
  position: absolute;
  z-index: 1;
}

.siteNav ul {
  position: absolute;
  display: flex;
  flex-direction: row;
  top: 40px;
  right: 120px;
}

.siteNav ul li{
  list-style: none;
  padding-right: 12px;
}

.siteNav ul li a{
  text-decoration: none;
  color: black;
  text-transform: uppercase;
}

.siteNav ul li a:hover {
  text-decoration: underline;
}

.siteHeaderFrgr h1 {
  font-family: 'Staatliches', cursive;
  letter-spacing: 8px;
  position: absolute;
  left: 120px;
  top: 80px;
}

.siteMain {
  margin: 0 50px;
  height: 55vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

#userInfoDisplay {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

#userInfoDisplay h4 {
  font-size: 20px;
  text-align: center;
  font-family: 'Staatliches', cursive;
  letter-spacing: 4px;
  margin-bottom: 5px;
}

#userInfo {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: space-evenly;
}


#usersCoffeeShops {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

#usersCoffeeShops h4 {
  font-size: 20px;
  text-align: center;
  font-family: 'Staatliches', cursive;
  letter-spacing: 4px;
  margin-bottom: 5px;
}

#usersCoffeeShops ul{
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

#usersCoffeeShops ul li {
  list-style: none;
}

#deleteUserBtn {
  margin-top: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}


.siteFooter {
  position: absolute;
  bottom: 0;
  background-color: #FCE14C;
  height: 142px;
  width: 100%;
  text-align: center;
  clip-path: polygon(0 0, 100% 9vw, 100% 100%, 0 100%);
}