<%- include('../partials/header.ejs', {
    title: 'User Display'
}); %>

  <header class="siteHeader">
    <div class="siteHeaderBckgr"></div>
    <div class="siteHeaderFrgr">
      <nav class="siteNav">
        <ul>
          <li><a href="/users/<%=userId%>">Home</a></li>
          <li><a href="/coffee-shops">Coffee Shops</a></li>
          <li><a href="/users/logout">Logout</a></li>
        </ul>
      </nav>
      <h1>User Page</h1>
    </div>
  </header>
  
  <main class="siteMain">
    <a href="/coffee-shops/new">Add a Coffee Shop</a>

    <form action="/users/<%= user._id %>?_method=DELETE" method="POST">
        <button type="submit">Delete Profile</button>
    </form>
  </main>

  <footer class="siteFooter">

  </footer>





<%- include('../partials/footer.ejs'); %>
